# =============================
# Maven / Gradle
# =============================
/target/
!*/src/main/resources/
/build/
/out/

# Dependências baixadas automaticamente
/.mvn/
**/node_modules/

# =============================
# Eclipse
# =============================
.metadata/
*.tmp
*.bak
*.swp
*.class
*.launch
.settings/
.project
/.classpath

# =============================
# IntelliJ IDEA
# =============================
.idea/
*.iml
*.iws
*.ipr
/out/

# =============================
# VS Code
# =============================
.vscode/

# =============================
# Logs e arquivos temporários
# =============================
*.log
*.tmp
*.temp
*.swp
*.DS_Store
hs_err_pid*

# =============================
# OS specific
# =============================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# =============================
# Spring Boot / JVM
# =============================
spring-boot-devtools.properties
spring-boot-devtools.jar
*.jar
*.war
*.ear
